
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(40deg, blue, aqua,white,aqua, blue);
  font-family: Helvetica, Arial, sans-serif;
}
.btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}
/* TEXT TROLL */
#m1 {
  margin-top: 25px;
  text-align: center;
}

